<div class="container main-container">

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">

        <input class="form-control" [(ngModel)]="buscar" name="buscar" (keyup.enter)="buscarPelicula()" type="text" placeholder="Buscar pelicula">

      </div>
    </div>
  </div>

  <div class="row">
    <div class="card-columns">

      <div class="card" *ngFor="let pelicula of _ps.peliculas">
        <img [src]="pelicula | peliculaImagen" class="card-img-top" [alt]="pelicula.original_title">
        <div class="card-body">
          <h5 class="card-title">{{ pelicula.original_title }}</h5>
          <p class="card-text text-justify">{{ pelicula.overview | slice:0:200 }}</p>
          <button type="button" class="btn btn-outline-primary btn-block" [routerLink]="['/pelicula', pelicula.id, 'buscar', buscar]" >Ver mas </button>
        </div>
      </div>

    </div>
  </div>

</div>
